This notebook extracts data from the Wikipedia page on **Highest-Grossing Films** and stores it in a relational database. The extracted data includes film titles, release years, directors, box office revenue, and countries of origin.

# Step 1: Import Required Libraries

In this step, we import the necessary Python libraries for the task:
- `requests`: To send HTTP requests and fetch the content of the Wikipedia page.
- `BeautifulSoup` (from `bs4`): To parse the HTML content and extract the required data.
- `sqlite3`: To interact with the SQLite database where we will store the extracted data.

In [2]:
import requests
from bs4 import BeautifulSoup
import sqlite3

# Step 2: Fetch and Parse the Wikipedia Page

In this step, we:
1. Define the URL of the Wikipedia page containing the list of highest-grossing films.
2. Use the `requests.get()` method to send a GET request and fetch the HTML content of the page.
3. Parse the HTML content using `BeautifulSoup` to create a structured object (`soup`) that allows us to easily navigate and extract data from the page.

In [3]:
# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_highest-grossing_films"

# Send a GET request to fetch the page content
response = requests.get(url)
html_content = response.text

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(html_content, "html.parser")

# Step 3: Extract Data from the Table

In this step, we:
1. Locate the HTML table containing the film data using the `soup.find()` method. The table has the class `wikitable`.
2. Initialize an empty list (`films_data`) to store the extracted data for each film.
3. Iterate through each row of the table (skipping the header row) using `table.find_all("tr")[1:]`.
4. For each row:
   - Extract the film title from the `<th>` element and its nested `<a>` tag. If the title is not found, use a fallback value (`"Unknown Title"`).
   - Extract the release year from the appropriate column.
   - Follow the reference link (`href`) in the title tag to the film's individual Wikipedia page to fetch additional details (director, country, and box office revenue).
   - Parse the reference page to locate and extract the director, country, and box office revenue.
5. Append the extracted data as a tuple to the `films_data` list.
6. Print the `films_data` list to verify the extracted data.

In [4]:
# Find the table containing the film data
table = soup.find("table", {"class": "wikitable"})

films_data = []

# Iterate through each row in the table
for row in table.find_all("tr")[1:]:
    columns = row.find_all("td")

    # Locate the <th> element within the current row and find the <a> tag
    title_tag = row.find("th").find("a") if row.find("th") else None

    # Check if title_tag is not None before accessing .text
    if title_tag:
        title = title_tag.text.strip()
    else:
        title = "Unknown Title"  # Fallback in case the title is not found

    release_year = int(columns[3].text.strip())

    ref_link = title_tag["href"] if title_tag else None

    director = "Unknown Director"
    country = "Unknown Country"

    if ref_link:
        ref_url = f"https://en.wikipedia.org{ref_link}"
        ref_response = requests.get(ref_url)
        ref_soup = BeautifulSoup(ref_response.content, "html.parser")

        # Locate the director information on the reference page
        director_tag = ref_soup.find("th", string="Directed by")
        if director_tag:
            director = director_tag.find_next("td").text.strip()

        country_tag = ref_soup.find("th", string="Country") or ref_soup.find("th", string="Countries")
        if country_tag:
            country = country_tag.find_next("td").text.strip()

        box_office_tag = ref_soup.find("th", string="Box office")
        if box_office_tag:
            box_office = box_office_tag.find_next("td").text.strip()

    # Append the extracted data to the list
    films_data.append((title, release_year, director, box_office, country))
print(films_data)

[('Avatar', 2009, 'James Cameron', '$2.923 billion[5]', 'United Kingdom[2]\nUnited States[2]'), ('Avengers: Endgame', 2019, 'Anthony RussoJoe Russo', '$2.799\xa0billion[4]', 'United States'), ('Avatar: The Way of Water', 2022, 'James Cameron', '$2.320\xa0billion[4][5]', 'United States'), ('Titanic', 1997, 'James Cameron', '$2.264\xa0billion[7]', 'United States'), ('Star Wars: The Force Awakens', 2015, 'J. J. Abrams', '$2.07\xa0billion[3]', 'United States'), ('Avengers: Infinity War', 2018, 'Anthony RussoJoe Russo', '$2.052\xa0billion[4]', 'United States'), ('Ne Zha 2', 2025, 'Jiaozi', '$1.98 billion[2][3]', 'China'), ('Spider-Man: No Way Home', 2021, 'Jon Watts', '$1.923 billion[3][4]', 'United States'), ('Inside Out 2', 2024, 'Kelsey Mann', '$1.699\xa0billion[3][4]', 'United States'), ('Jurassic World', 2015, 'Colin Trevorrow', '$1.671 billion[4]', 'United States'), ('The Lion King', 2019, 'Jon Favreau', '$1.657\xa0billion[5]', 'United States'), ('The Avengers', 2012, 'Joss Whedon', '$1.521 billion[4]', 'United States'), ('Furious 7', 2015, 'James Wan', '$1.515 billion[4]', 'United States China'), ('Top Gun: Maverick', 2022, 'Joseph Kosinski', '$1.496\xa0billion[4][5]', 'United States'), ('Frozen 2', 2019, 'Chris Buck\nJennifer Lee', '$1.453\xa0billion', 'United States'), ('Barbie', 2023, 'Greta Gerwig', '$1.446\xa0billion[6][7]', 'United States[2][3]\nUnited Kingdom[3]'), ('Avengers: Age of Ultron', 2015, 'Joss Whedon', '$1.405 billion[4]', 'United States'), ('The Super Mario Bros. Movie', 2023, 'Aaron Horvath\nMichael Jelenic', '$1.363\xa0billion[3][4]', 'United States'), ('Black Panther', 2018, 'Ryan Coogler', '$1.35\xa0billion[4]', 'United States'), ('Harry Potter and the Deathly Hallows â€“ Part 2', 2011, 'David Yates', '$1.342 billion[4]', 'United Kingdom\nUnited States'), ('Deadpool & Wolverine', 2024, 'Shawn Levy', '$1.338\xa0billion[3][4]', 'United States'), ('Star Wars: The Last Jedi', 2017, 'Rian Johnson', '$1.334\xa0billion[3]', 'United States'), ('Jurassic World: Fallen Kingdom', 2018, 'J. A. Bayona', '$1.31 billion[7]', 'China[4]\nUnited States[5]'), ('Frozen', 2013, 'Chris Buck\nJennifer Lee', '$1.280 billion[7]', 'United States'), ('Beauty and the Beast', 2017, 'Bill Condon', '$1.266\xa0billion[3]', 'United States'), ('Incredibles 2', 2018, 'Brad Bird', '$1.243\xa0billion[4]', 'United States'), ('The Fate of the Furious', 2017, 'F. Gary Gray', '$1.236 billion[5]', 'United States\nChina'), ('Iron Man 3', 2013, 'Shane Black', '$1.266 billion[3]', 'United States'), ('Minions', 2015, 'Pierre Coffin\nKyle Balda', '$1.159 billion[4]', 'United States'), ('Captain America: Civil War', 2016, 'Anthony RussoJoe Russo', '$1.155\xa0billion[4]', 'United States'), ('Aquaman', 2018, 'James Wan', '$1.152\xa0billion[7]', 'United States'), ('The Lord of the Rings: The Return of the King', 2003, 'Peter Jackson', '$1.151 billion[4]', 'New Zealand[1]\nGermany[3]\nUnited States[1]'), ('Spider-Man: Far From Home', 2019, 'Jon Watts', '$1.133 billion[3]', 'United States'), ('Captain Marvel', 2019, 'Anna BodenRyan Fleck', '$1.131\xa0billion[4]', 'United States'), ('Transformers: Dark of the Moon', 2011, 'Michael Bay', '$1.124 billion[7]', 'United States'), ('Skyfall', 2012, 'Sam Mendes', '$1.109 billion[5]', 'United Kingdom[4]United States[1]'), ('Transformers: Age of Extinction', 2014, 'Michael Bay', '$1.104 billion[4]', 'United States'), ('The Dark Knight Rises', 2012, 'Christopher Nolan', '$1.115 billion[4]', 'United States[2]\nUnited Kingdom[2]'), ('Joker', 2019, 'Todd Phillips', '$1.079\xa0billion[2][3]', 'United States'), ('Star Wars: The Rise of Skywalker', 2019, 'J. J. Abrams', '$1.077 billion[3]', 'United States'), ('Toy Story 4', 2019, 'Josh Cooley', '$1.074 billion[3]', 'United States'), ('Toy Story 3', 2010, 'Lee Unkrich', '$1.067\xa0billion[1]', 'United States'), ("Pirates of the Caribbean: Dead Man's Chest", 2006, 'Gore Verbinski', '$1.066 billion[2]', 'United States'), ('Rogue One: A Star Wars Story', 2016, 'Gareth Edwards', '$1.059 billion[5]', 'United States'), ('Moana 2', 2024, 'David Derrick Jr.[1]\nJason Hand[1]\nDana Ledoux Miller[1]', '$1.05 billion[5][6]', 'United States'), ('Aladdin', 2019, 'Guy Ritchie', '$1.054\xa0billion[6]', 'United States'), ('Star Wars: Episode I â€“ The Phantom Menace', 1999, 'George Lucas', '$1.047 billion[3][4]', 'United States'), ('Pirates of the Caribbean: On Stranger Tides', 2011, 'Rob Marshall', '$1.046 billion[3]', 'United States'), ('Jurassic Park', 1993, 'Steven Spielberg', '$1.058\xa0billion[4]', 'United States'), ('Despicable Me 3', 2017, 'Pierre Coffin\nKyle Balda', '$1.035\xa0billion[5]', 'United States')]

# Step 4: Data Cleaning Functions

In this step, we define helper functions to clean the extracted data:
1. **`clean_box_office(box_office)`**:
   - Removes currency symbols (e.g., `$`), footnotes, and non-numeric characters from the box office revenue.
   - Converts the cleaned value to a `float` for numerical analysis. If the value is empty, it returns `None`.

2. **`clean_director(director)`**:
   - Replaces newlines and multiple spaces with a single space for consistency.
   - Removes Wikipedia footnotes (e.g., `[1]`, `[2]`) from the director names.

3. **`clean_country(country)`**:
   - Removes Wikipedia footnotes (e.g., `[1]`, `[2]`) and newlines from the country names.
   - Fixes specific formatting issues (e.g., replacing `"United States China"` with `"United States, China"`).

It is done to ensure that the extracted data is consistent and ready for insertion into the database.

In [5]:
import re

# Function to clean box office revenue
def clean_box_office(box_office):
    cleaned_value = re.sub(r"[^\d.]", "", box_office)
    return float(cleaned_value) if cleaned_value else None

# Function to clean director names
def clean_director(director):
    cleaned_director = re.sub(r"\s+", " ", director.replace("\n", ", ")).strip()
    cleaned_director = re.sub(r"\[\d+\]", "", director.replace("\n", ", ")).strip()
    return cleaned_director

# Function to clean country names
def clean_country(country):
    cleaned_country = re.sub(r"\[\d+\]", "", country.replace("\n", ", ")).strip()
    cleaned_country = re.sub(r"United States China", r"United States, China", cleaned_country)
    cleaned_country = re.sub(r"United KingdomUnited States", r"United Kingdom, United States", cleaned_country)
    return cleaned_country

## Step 5: Clean and Structure the Data

In this step, we:
1. **Clean and Structure the Data**:
   - Iterate through the `films_data` list (which contains raw extracted data).
   - For each film, create a dictionary (`cleaned_film`) with cleaned and structured data.
   - Append each cleaned film dictionary to the `cleaned_films` list.

2. **Convert Box Office Revenue**:
   - Convert the box office revenue from billions (e.g., `1.5`) to its full numeric value (e.g., `1,500,000,000`).

3. **Display the Cleaned Data**:
   - Print the cleaned films to verify the cleaning and conversion process.

In [6]:
# Clean and structure the data
cleaned_films = []
for film in films_data:
    cleaned_film = {
        "title": film[0].strip(),  # Clean title
        "release_year": int(film[1]),  # Convert release year to integer
        "director": clean_director(film[2]),  # Clean director names
        "box_office": clean_box_office(film[3]),  # Clean box office revenue
        "country": clean_country(film[4])  # Clean country names
    }
    cleaned_films.append(cleaned_film)

# Convert box office from billions to full numeric value
for film in cleaned_films:
    film["box_office"] = round(film["box_office"] * 1_000_000_000)  # Convert to full value

print(cleaned_films)

[{'title': 'Avatar', 'release_year': 2009, 'director': 'James Cameron', 'box_office': 2923500000, 'country': 'United Kingdom, United States'}, {'title': 'Avengers: Endgame', 'release_year': 2019, 'director': 'Anthony RussoJoe Russo', 'box_office': 2799400000, 'country': 'United States'}, {'title': 'Avatar: The Way of Water', 'release_year': 2022, 'director': 'James Cameron', 'box_office': 2320450000, 'country': 'United States'}, {'title': 'Titanic', 'release_year': 1997, 'director': 'James Cameron', 'box_office': 2264700000, 'country': 'United States'}, {'title': 'Star Wars: The Force Awakens', 'release_year': 2015, 'director': 'J. J. Abrams', 'box_office': 2073000000, 'country': 'United States'}, {'title': 'Avengers: Infinity War', 'release_year': 2018, 'director': 'Anthony RussoJoe Russo', 'box_office': 2052400000, 'country': 'United States'}, {'title': 'Ne Zha 2', 'release_year': 2025, 'director': 'Jiaozi', 'box_office': 1982300000, 'country': 'China'}, {'title': 'Spider-Man: No Way Home', 'release_year': 2021, 'director': 'Jon Watts', 'box_office': 1923340000, 'country': 'United States'}, {'title': 'Inside Out 2', 'release_year': 2024, 'director': 'Kelsey Mann', 'box_office': 1699340000, 'country': 'United States'}, {'title': 'Jurassic World', 'release_year': 2015, 'director': 'Colin Trevorrow', 'box_office': 1671400000, 'country': 'United States'}, {'title': 'The Lion King', 'release_year': 2019, 'director': 'Jon Favreau', 'box_office': 1657500000, 'country': 'United States'}, {'title': 'The Avengers', 'release_year': 2012, 'director': 'Joss Whedon', 'box_office': 1521400000, 'country': 'United States'}, {'title': 'Furious 7', 'release_year': 2015, 'director': 'James Wan', 'box_office': 1515400000, 'country': 'United States, China'}, {'title': 'Top Gun: Maverick', 'release_year': 2022, 'director': 'Joseph Kosinski', 'box_office': 1496450000, 'country': 'United States'}, {'title': 'Frozen 2', 'release_year': 2019, 'director': 'Chris Buck, Jennifer Lee', 'box_office': 1453000000, 'country': 'United States'}, {'title': 'Barbie', 'release_year': 2023, 'director': 'Greta Gerwig', 'box_office': 1446670000, 'country': 'United States, United Kingdom'}, {'title': 'Avengers: Age of Ultron', 'release_year': 2015, 'director': 'Joss Whedon', 'box_office': 1405400000, 'country': 'United States'}, {'title': 'The Super Mario Bros. Movie', 'release_year': 2023, 'director': 'Aaron Horvath, Michael Jelenic', 'box_office': 1363340000, 'country': 'United States'}, {'title': 'Black Panther', 'release_year': 2018, 'director': 'Ryan Coogler', 'box_office': 1354000000, 'country': 'United States'}, {'title': 'Harry Potter and the Deathly Hallows â€“ Part 2', 'release_year': 2011, 'director': 'David Yates', 'box_office': 1342400000, 'country': 'United Kingdom, United States'}, {'title': 'Deadpool & Wolverine', 'release_year': 2024, 'director': 'Shawn Levy', 'box_office': 1338340000, 'country': 'United States'}, {'title': 'Star Wars: The Last Jedi', 'release_year': 2017, 'director': 'Rian Johnson', 'box_office': 1334300000, 'country': 'United States'}, {'title': 'Jurassic World: Fallen Kingdom', 'release_year': 2018, 'director': 'J. A. Bayona', 'box_office': 1317000000, 'country': 'China, United States'}, {'title': 'Frozen', 'release_year': 2013, 'director': 'Chris Buck, Jennifer Lee', 'box_office': 1280700000, 'country': 'United States'}, {'title': 'Beauty and the Beast', 'release_year': 2017, 'director': 'Bill Condon', 'box_office': 1266300000, 'country': 'United States'}, {'title': 'Incredibles 2', 'release_year': 2018, 'director': 'Brad Bird', 'box_office': 1243400000, 'country': 'United States'}, {'title': 'The Fate of the Furious', 'release_year': 2017, 'director': 'F. Gary Gray', 'box_office': 1236500000, 'country': 'United States, China'}, {'title': 'Iron Man 3', 'release_year': 2013, 'director': 'Shane Black', 'box_office': 1266300000, 'country': 'United States'}, {'title': 'Minions', 'release_year': 2015, 'director': 'Pierre Coffin, Kyle Balda', 'box_office': 1159400000, 'country': 'United States'}, {'title': 'Captain America: Civil War', 'release_year': 2016, 'director': 'Anthony RussoJoe Russo', 'box_office': 1155400000, 'country': 'United States'}, {'title': 'Aquaman', 'release_year': 2018, 'director': 'James Wan', 'box_office': 1152700000, 'country': 'United States'}, {'title': 'The Lord of the Rings: The Return of the King', 'release_year': 2003, 'director': 'Peter Jackson', 'box_office': 1151400000, 'country': 'New Zealand, Germany, United States'}, {'title': 'Spider-Man: Far From Home', 'release_year': 2019, 'director': 'Jon Watts', 'box_office': 1133300000, 'country': 'United States'}, {'title': 'Captain Marvel', 'release_year': 2019, 'director': 'Anna BodenRyan Fleck', 'box_office': 1131400000, 'country': 'United States'}, {'title': 'Transformers: Dark of the Moon', 'release_year': 2011, 'director': 'Michael Bay', 'box_office': 1124700000, 'country': 'United States'}, {'title': 'Skyfall', 'release_year': 2012, 'director': 'Sam Mendes', 'box_office': 1109500000, 'country': 'United Kingdom, United States'}, {'title': 'Transformers: Age of Extinction', 'release_year': 2014, 'director': 'Michael Bay', 'box_office': 1104400000, 'country': 'United States'}, {'title': 'The Dark Knight Rises', 'release_year': 2012, 'director': 'Christopher Nolan', 'box_office': 1115400000, 'country': 'United States, United Kingdom'}, {'title': 'Joker', 'release_year': 2019, 'director': 'Todd Phillips', 'box_office': 1079230000, 'country': 'United States'}, {'title': 'Star Wars: The Rise of Skywalker', 'release_year': 2019, 'director': 'J. J. Abrams', 'box_office': 1077300000, 'country': 'United States'}, {'title': 'Toy Story 4', 'release_year': 2019, 'director': 'Josh Cooley', 'box_office': 1074300000, 'country': 'United States'}, {'title': 'Toy Story 3', 'release_year': 2010, 'director': 'Lee Unkrich', 'box_office': 1067100000, 'country': 'United States'}, {'title': "Pirates of the Caribbean: Dead Man's Chest", 'release_year': 2006, 'director': 'Gore Verbinski', 'box_office': 1066200000, 'country': 'United States'}, {'title': 'Rogue One: A Star Wars Story', 'release_year': 2016, 'director': 'Gareth Edwards', 'box_office': 1059500000, 'country': 'United States'}, {'title': 'Moana 2', 'release_year': 2024, 'director': 'David Derrick Jr., Jason Hand, Dana Ledoux Miller', 'box_office': 1055600000, 'country': 'United States'}, {'title': 'Aladdin', 'release_year': 2019, 'director': 'Guy Ritchie', 'box_office': 1054600000, 'country': 'United States'}, {'title': 'Star Wars: Episode I â€“ The Phantom Menace', 'release_year': 1999, 'director': 'George Lucas', 'box_office': 1047340000, 'country': 'United States'}, {'title': 'Pirates of the Caribbean: On Stranger Tides', 'release_year': 2011, 'director': 'Rob Marshall', 'box_office': 1046300000, 'country': 'United States'}, {'title': 'Jurassic Park', 'release_year': 1993, 'director': 'Steven Spielberg', 'box_office': 1058400000, 'country': 'United States'}, {'title': 'Despicable Me 3', 'release_year': 2017, 'director': 'Pierre Coffin, Kyle Balda', 'box_office': 1035500000, 'country': 'United States'}]

## Step 6: Store Data in SQLite Database

In this step, we:
1. **Connect to the SQLite Database**:
   - Use the `sqlite3` library to connect to a SQLite database file named `highest_grossing_films.db`. If the file doesn't exist, it will be created automatically.

2. **Create the `films` Table**:
   - Define a table schema with the following columns:
     - `id`: A unique identifier for each film (auto-incremented).
     - `title`: The title of the film (text, not null).
     - `release_year`: The year the film was released (integer).
     - `director`: The name(s) of the director(s) (text).
     - `box_office`: The box office revenue (real number).
     - `country`: The country of origin (text).
   - If the table already exists, it will not be recreated.

3. **Insert the Cleaned Data**:
   - Iterate through the `cleaned_films` list and insert each film's data into the `films` table using parameterized queries to prevent SQL injection.

4. **Commit and Close**:
   - Commit the transaction to save the changes to the database.
   - Close the database connection.

In [7]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect("highest_grossing_films.db")
cursor = conn.cursor()

# Create the films table (if it doesn't already exist)
cursor.execute("""
CREATE TABLE IF NOT EXISTS films (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    release_year INTEGER,
    director TEXT,
    box_office REAL,
    country TEXT
)
""")

# Insert the cleaned data into the table
for film in cleaned_films:
    cursor.execute("""
    INSERT INTO films (title, release_year, director, box_office, country)
    VALUES (?, ?, ?, ?, ?)
    """, (film["title"], film["release_year"], film["director"], film["box_office"], film["country"]))

# Commit the transaction and close the connection
conn.commit()
conn.close()

## Step 7: Verify Data Insertion

In this step, we:
1. **Reconnect to the Database**:
   - Reopen the SQLite database (`highest_grossing_films.db`) to verify that the data was inserted correctly.

2. **Fetch and Display Data**:
   - Execute a `SELECT` query to retrieve all rows from the `films` table.
   - Use `fetchall()` to fetch the results and print each row to the console.
   - This allows us to visually inspect the data.

3. **Close the Connection**:
   - Close the database connection.

In [8]:
# Reconnect to the database
conn = sqlite3.connect("highest_grossing_films.db")
cursor = conn.cursor()

# Fetch and display the films
cursor.execute("SELECT * FROM films")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

(1, 'Avatar', 2009, 'James Cameron', 2923500000.0, 'United Kingdom, United States')
(2, 'Avengers: Endgame', 2019, 'Anthony RussoJoe Russo', 2799400000.0, 'United States')
(3, 'Avatar: The Way of Water', 2022, 'James Cameron', 2320450000.0, 'United States')
(4, 'Titanic', 1997, 'James Cameron', 2264700000.0, 'United States')
(5, 'Star Wars: The Force Awakens', 2015, 'J. J. Abrams', 2073000000.0, 'United States')
(6, 'Avengers: Infinity War', 2018, 'Anthony RussoJoe Russo', 2052400000.0, 'United States')
(7, 'Ne Zha 2', 2025, 'Jiaozi', 1982300000.0, 'China')
(8, 'Spider-Man: No Way Home', 2021, 'Jon Watts', 1923340000.0, 'United States')
(9, 'Inside Out 2', 2024, 'Kelsey Mann', 1699340000.0, 'United States')
(10, 'Jurassic World', 2015, 'Colin Trevorrow', 1671400000.0, 'United States')
(11, 'The Lion King', 2019, 'Jon Favreau', 1657500000.0, 'United States')
(12, 'The Avengers', 2012, 'Joss Whedon', 1521400000.0, 'United States')
(13, 'Furious 7', 2015, 'James Wan', 1515400000.0, 'United States, China')
(14, 'Top Gun: Maverick', 2022, 'Joseph Kosinski', 1496450000.0, 'United States')
(15, 'Frozen 2', 2019, 'Chris Buck, Jennifer Lee', 1453000000.0, 'United States')
(16, 'Barbie', 2023, 'Greta Gerwig', 1446670000.0, 'United States, United Kingdom')
(17, 'Avengers: Age of Ultron', 2015, 'Joss Whedon', 1405400000.0, 'United States')
(18, 'The Super Mario Bros. Movie', 2023, 'Aaron Horvath, Michael Jelenic', 1363340000.0, 'United States')
(19, 'Black Panther', 2018, 'Ryan Coogler', 1354000000.0, 'United States')
(20, 'Harry Potter and the Deathly Hallows â€“ Part 2', 2011, 'David Yates', 1342400000.0, 'United Kingdom, United States')
(21, 'Deadpool & Wolverine', 2024, 'Shawn Levy', 1338340000.0, 'United States')
(22, 'Star Wars: The Last Jedi', 2017, 'Rian Johnson', 1334300000.0, 'United States')
(23, 'Jurassic World: Fallen Kingdom', 2018, 'J. A. Bayona', 1317000000.0, 'China, United States')
(24, 'Frozen', 2013, 'Chris Buck, Jennifer Lee', 1280700000.0, 'United States')
(25, 'Beauty and the Beast', 2017, 'Bill Condon', 1266300000.0, 'United States')
(26, 'Incredibles 2', 2018, 'Brad Bird', 1243400000.0, 'United States')
(27, 'The Fate of the Furious', 2017, 'F. Gary Gray', 1236500000.0, 'United States, China')
(28, 'Iron Man 3', 2013, 'Shane Black', 1266300000.0, 'United States')
(29, 'Minions', 2015, 'Pierre Coffin, Kyle Balda', 1159400000.0, 'United States')
(30, 'Captain America: Civil War', 2016, 'Anthony RussoJoe Russo', 1155400000.0, 'United States')
(31, 'Aquaman', 2018, 'James Wan', 1152700000.0, 'United States')
(32, 'The Lord of the Rings: The Return of the King', 2003, 'Peter Jackson', 1151400000.0, 'New Zealand, Germany, United States')
(33, 'Spider-Man: Far From Home', 2019, 'Jon Watts', 1133300000.0, 'United States')
(34, 'Captain Marvel', 2019, 'Anna BodenRyan Fleck', 1131400000.0, 'United States')
(35, 'Transformers: Dark of the Moon', 2011, 'Michael Bay', 1124700000.0, 'United States')
(36, 'Skyfall', 2012, 'Sam Mendes', 1109500000.0, 'United Kingdom, United States')
(37, 'Transformers: Age of Extinction', 2014, 'Michael Bay', 1104400000.0, 'United States')
(38, 'The Dark Knight Rises', 2012, 'Christopher Nolan', 1115400000.0, 'United States, United Kingdom')
(39, 'Joker', 2019, 'Todd Phillips', 1079230000.0, 'United States')
(40, 'Star Wars: The Rise of Skywalker', 2019, 'J. J. Abrams', 1077300000.0, 'United States')
(41, 'Toy Story 4', 2019, 'Josh Cooley', 1074300000.0, 'United States')
(42, 'Toy Story 3', 2010, 'Lee Unkrich', 1067100000.0, 'United States')
(43, "Pirates of the Caribbean: Dead Man's Chest", 2006, 'Gore Verbinski', 1066200000.0, 'United States')
(44, 'Rogue One: A Star Wars Story', 2016, 'Gareth Edwards', 1059500000.0, 'United States')
(45, 'Moana 2', 2024, 'David Derrick Jr., Jason Hand, Dana Ledoux Miller', 1055600000.0, 'United States')
(46, 'Aladdin', 2019, 'Guy Ritchie', 1054600000.0, 'United States')
(47, 'Star Wars: Episode I â€“ The Phantom Menace', 1999, 'George Lucas', 1047340000.0, 'United States')
(48, 'Pirates of the Caribbean: On Stranger Tides', 2011, 'Rob Marshall', 1046300000.0, 'United States')
(49, 'Jurassic Park', 1993, 'Steven Spielberg', 1058400000.0, 'United States')
(50, 'Despicable Me 3', 2017, 'Pierre Coffin, Kyle Balda', 1035500000.0, 'United States')

## Export Database to JSON

This Python script connects to an SQLite database, fetches film data, and exports it to a JSON file. The JSON file will be used to populate the web page.

In [9]:
import sqlite3
import json

# Connect to the SQLite database
conn = sqlite3.connect("highest_grossing_films.db")
cursor = conn.cursor()

# Fetch all rows from the films table
cursor.execute("SELECT * FROM films")
rows = cursor.fetchall()

# Convert rows to a list of dictionaries
films_data = []
for row in rows:
    films_data.append({
        "title": row[1],
        "release_year": row[2],
        "director": row[3],
        "box_office": row[4],
        "country": row[5]
    })

# Save the data to a JSON file
with open("data_1.json", "w") as json_file:
    json.dump(films_data, json_file, indent=4)

# Close the connection
conn.close()